.element {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  padding-top: 16px;
  overflow-x: scroll; /* 设置溢出滚动 */
  overflow-y: hidden;
  white-space: nowrap;

  /* 隐藏滚动条 */
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.element::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.container {
  display: flex;
  width: 1100px;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  .left {
    width: 75%;

    /*   border: 2px solid rgb(49 191 210); */
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 57px 10px 10px;
    .card_web {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-top: 20px;
      border-radius: 10px;
      box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 20%);
      &:hover {
        box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 40%);
      }
      .avatar {
        transition: all 1.2s;
      }
      .avatar:hover {
        transform: rotate(360deg);
      }
      .web_title {
        margin-top: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        font-weight: bold;
        color: rgb(49 191 210);
      }
      .web_sentence {
        font-family: KAITI;
        font-size: 15px;
        color: #565252;
      }
      .webcountinfo {
        margin: 15px 0;
        font-family: KaiTi;
        font-size: 17px;
      }
      .webcountinfoname {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        .webcountinfoname_value {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: KaiTi;
          font-size: 17px;
          color: rgb(49 191 210);
          cursor: pointer;
          &:hover {
            background-color: #eff2f5;
            border-radius: 5px;
          }
          .webcountinfoname_value_title {
            color: #999999;
          }
        }
      }
    }
    .card_notice {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 86px;
      padding: 20px 0;
      margin-top: 20px;
      font-family: KAITI;
      font-weight: 600;
      color: #817d7d;
      text-align: center;
      border-radius: 10px;
      box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 20%);
      &:hover {
        box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 40%);

        /*         transform: scale(1.01); */
      }
    }
    .card_tags {
      margin: 20px 0;
      border-radius: 10px;
      box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 20%);
      &:hover {
        box-shadow: 2px 3px 10px 2px rgb(75 158 111 / 40%);
      }
    }
    .card_others {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      font-family: dengxian, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-weight: 600;
      color: #909090;
      cursor: pointer;
      a {
        color: #909090;
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  .right {
    display: none !important;
  }
  .container {
    width: 100vw;
    .left {
      width: 100%;
    }
  }
}
