.container {
  display: flex;
  width: 1100px;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  background-color: aliceblue;
  .left {
    width: 75%;
    background-color: antiquewhite;
  }
  .right {
    width: 25%;
  }
}
